* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
    background-color: #011627;
}

.container {
    width: 60vw;
    /* height: 60vw; */
    margin: 60px auto;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    height: 100px;
    width: 100%;
    border: 2px solid white;
}

.square {
    border:2px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-true {
    background-color: white;
}